*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: sans-serif;
}

.margin-bot2{
    margin-bottom: 2rem;
}

.margin-bot4{
    margin-bottom: 4rem;
}

.padding-top2{
    padding-top: 2rem;
}

.font-medium{
    font-size: 28px;
}

.font-big{
    font-size: 50px;
}

.font-bigger{
    font-size: 100px;
}

header {
    width: 100%;
    min-height: 6rem;
    background-color: #0084fd;
    color: white;
}

.h-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 2rem;
}

.h-item{
    display: flex;
}

.hidden{
    display: none;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.purplebg{
    background-color: #9792e4;
    color: white;
}

.purpletext{
    color: #9792e4;
}

.yellow{
    color: #fdc15f;
}
.flex1,
.flex2,
.flex3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 6rem;
    justify-content: space-between;
    padding: 2rem;
}

.blue{
    color: #0084fd;
}

.bold{
    font-weight: 600;
}

.line-height{
    line-height: 30px;
}

.immagini
.immagini2{
    width: 100%;
}

.immagini-tonde{
    border-radius: 50%;
    height: 50%;
    width: 50%;
    object-fit: cover;
    align-self: center;
}

.button-blue{
    background-color: #0084fd;
    padding: 1rem auto;
    color: white;
    width: 250px;
    border: none;
    border-radius: 18px;
    letter-spacing: 4px;
    height: 40px;
}

.button-purple{
    background-color: #9792e4;
    padding: 1rem auto;
    color: white;
    width: 150px;
    border: none;
    border-radius: 18px;
    letter-spacing: 4px;
    height: 40px;
}

.button-white{
    background-color: white;
    color: #9792e4;
    padding: 3rem auto;
    width: 250px;
    border: none;
    border-radius: 30px;
    height: 60px;
    align-self: center;
}

.item1{
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    background-color: #b5ddff;
    padding: 2rem 2rem 0 2rem;
    border-radius: 50px;

}

.item2{
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    background-color: #b5ddff;
    align-content: center;
    border-radius: 50px;
    padding: 2rem;
    text-align: center;
}

.item3{
    display: flex;
    flex-direction: column;
    min-height: 30rem;
    padding: 2rem 2rem 2rem 0;
}

.item4{
    text-align: center;
}

.item4,
.item5{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 50px;
    color: black;
}

.circle{
    background-color: #9792e4;
    border-radius: 50%;
    width: 20px;
    height: 10px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.testimonials{
    width: 80%;
    margin: 3rem auto;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    background-color: #9792e4;
    padding: 2rem;
    border-radius: 50px;
    text-align: center;
    color: white;
    justify-content: space-between;
}

.end{
    padding: 2rem;
    font-size: 12px;
}

footer{
    background-color: #222;
    color: white;
    text-align: center;
}

@media screen and (min-width: 490px){
    .container{
        width: 100%;
    }  

    .flex1,
    .flex2{
        flex-direction: row;
    }
    .item1{
        width: 66%;
    }
    .item2{
        width: 32%;
    }


    .item5{
        width: 48%;
    }

    .flex3{
        flex-direction: column;
    }

    .column{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .immagini{
        width: 50%;
    }

    .cards{
        flex-direction: row;
        text-align: left;
    }

    .immagini-tonde{
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1024px){
    .h-flex{
        width: 70%;
        margin: 0 auto;
    }

    .container{
        width: 70%;
    }  

    .flex1,
    .flex2{
        flex-direction: row;
    }
    .item1{
        width: 66%;
    }
    .item2{
        width: 32%;
    }

    .item3,
    .item4{
        width: 50%;
    }

    .item5{
        width: 32%;
    }

    .flex3{
        flex-direction: column;
    }

    .column{
        width: 40%;
    }
}